# Copyright (c) 2025 Marek Matej 
# SPDX-License-Identifier: Apache-2.0

config BOARD_ESP32_UWB
	select SOC_ESP32_WROVER_E_N16R8
	select SOC_ESP32_PROCPU if BOARD_ESP32_UWB_ESP32_PROCPU
	select SOC_ESP32_APPCPU if BOARD_ESP32_UWB_ESP32_APPCPU
	select ESP32_USE_UNSUPPORTED_REVISION
